# Python
backend/.venv/
__pycache__/
*.pyc

# Django
backend/db.sqlite3
backend/media/

# Node
frontend/node_modules/

# Environment
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
